body {
  box-sizing: border-box; /* 패딩과 테두리를 width에 포함*/
  overflow-x: hidden;
}

.pc-chat-sidebar {
  height: calc(100vh - 4.5rem);
  background: #59A6FA;
  width: 16vw;
  transition: width 0.3s ease, opacity 0.3s ease, left 0.3s ease;
  overflow: hidden;
  position: relative;

  &.collapsed {
    width: 0;
    opacity: 0;
  }
    .pc-chat-sidebar-btn {
      position: absolute;
      bottom: 3vh;
      display: flex;
      justify-content: space-between;
      padding: 0rem 0.5rem;
      align-items: center;
    }
}

.pc-chat-sidebar-btn img:first-child {
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  transition: bottom 0.3s ease;
}

.pc-chat-sidebar-btn img:last-child {
  position: absolute;
  transition: left 0.3s ease;
}

.pc-chat-body {
  position: absolute;
  width: 90%;
  top: 4.2rem;
  bottom: 9vh;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.6rem;
  justify-content: center;
}

.pc-chat-body-searchInput {
  flex-shrink: 0;
  padding: 0.2rem 0.5rem;
  width: 90%; 
}

// 사이드바 기록 조회
.pc-chat-body-searchHistory {
  font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;
  overflow-y: auto;
  flex-grow: 1;
  padding: 0.5rem 0.5rem;
  position: relative;

  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #4280c2c7;
    border-radius: 4px;
  }

  .pc-chat-body-searchHistory-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 10px;

    .pc-chat-body-day {
      font-size: 1.2rem;
    }

    .pc-chat-body-roomHistory {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid lightyellow;
      border-radius: 15px;
      background: white;
      min-height: 6vh;
      width: 95%;
      white-space: pre-wrap;
      word-wrap: break-word;
      padding: 0.5rem;
      text-align: center;
    }
  }
}

.content-container {
  position: absolute;
  top: 8.3%;
  bottom: 0;
  right: 0;
  transition: left 0.3s ease, width 0.3s ease;
  height: 91.5%;
  overflow-y: hidden;
  width: 90%; 

  &.collapsed { /* 사이드바가 접힐 때 */
    left: 15vw; 
    width: 90%;
  }

  &.expanded { /* 사이드바가 확장될 때 */
    left: 15vw;
    width: 90%; 
  }
}

.pc-show-chat {
  font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  height: 95%;
  padding: 0px 5px 5px 5px;
  position: relative;
  overflow-x: hidden;

  .pc-show-chat::-webkit-scrollbar {
    width: 8px; /* 스크롤바 두께 */
  }

  .pc-show-chat::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .pc-chat-part {
    width: 90%;
    margin-top : 160px;
    display: flex;
    flex-direction: column;
    background-color: white;
    &.blank {
      margin-top: 0;
      height: 0; 
      padding: 0; 
      visibility: hidden;
    } 
    flex-grow: 1;
  }

  .pc-ask {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 15vh;

    .pc-ask-title {
      font-size: 2.5rem;
      font-weight: bold;
    }

    .pc-ask-question-box {
      display: flex;
      justify-content: space-around;
      width: 80%;
      margin-top: 4rem;
  
      .pc-ask-question {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 15px;
        width: 25%;
        height: 4.5vh;
        cursor: pointer; 
        &:hover {
          background-color: #e6e4e4; 
        }
      }
    }
  }
  
  .pc-chat-input {
    bottom: 2vh;
    left: 18%;
    right: 0;
    width: 75%;
    padding: 0px 0px 0px 0px ;
    display: flex;
    justify-content: center;
    position: fixed;
    .pc-chat-icon {
      width: 5rem;
    }
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:90%;
  background-color: #f5f5f5;
}


.chat-header h1 {
  font-size: 20px;
  color: #333;
}

.message-container {
  flex-grow: 1;
  width: 60vw;
  padding-bottom: 60px;
  justify-content: center;
  display: flex; 
  flex-direction: column; 
}

.message-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px; 
}

.user-label {
  text-align: right; 
  margin-right: 10px;
}

.bot-label {
  text-align: left; 
}

.message {
  font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;
  max-width: 50%;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
}

.timestamp {
  font-size: 10px;
  color: #888;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-timestamp {
  text-align: right;
  margin-right: 10px;
}

.message-wrapper.user {
  margin-right: 150px;
  text-align: right;
}

.message-wrapper.bot {
  align-self: flex-start;
  text-align: left;
}

.message.user {
  background-color: #E3F0FE;
  display: inline-block;
}


.message.bot {
  background-color: #e6e4e4;
}

.no-records {
  text-align: center;
  color: #888;
  margin-top: 20px;
}