.pc-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 자식 요소들을 수직으로 가운데 정렬 */

  height: 100px;
  padding: 6px;

  border-bottom: 1px solid #dddddd;

  .pc-img-div {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .pc-logo-img {
      height: 70%;
    }
  }

  .pc-choose-child {
    display: flex;
    height: 60px;
    
  }
}

.child-img {
  border: 1px solid black;
  width: 5vw;
}
